<!--{% load static %}
{% load hijack_tags %}-->
<!DOCTYPE html>
<html lang="en" class="bg-gray-200">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>BASE</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <!--<link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />-->
    </head>
    <header class="bg-gray-900 md:flex md:justify-between md:items-center">
        <div class="flex items-center justify-between px-4 py-3">
            <a href="#">
                <img class="h-8" src="../static/img/flis-header-negativ.svg" alt="Flishuset">
            </a>
            <div class="md:hidden">
                <button type="button" class="navbar-toggle block text-gray-500 hover:text-white focus:outline-none" data-toggle="collapse" data-target="#navbar-collapse-main">
                    <svg class="menu-icon h-6 w-6 fill-current" viewBox="0 0 24 24">
                        <path class="menu-closed block" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
                        <path class="menu-open hidden" fill-rule="evenodd" d="M15.78 14.36a1 1 0 0 1-1.42 1.42l-2.82-2.83-2.83 2.83a1 1 0 1 1-1.42-1.42l2.83-2.82L7.3 8.7a1 1 0 0 1 1.42-1.42l2.83 2.83 2.82-2.83a1 1 0 0 1 1.42 1.42l-2.83 2.83 2.83 2.82z"/>
                    </svg>
                </button>
            </div>
        </div>
        <div id="navbar-collapse-main" class="bg-gray-800 border-t border-gray-900 hidden md:hidden md:bg-gray-900"> <!--container-->
            <div class="px-4 py-3 mb-2">
                <a href="#" class="block font-medium text-white hover:text-gray-500">Hjem</a>
                <a href="#" class="mt-3 block font-medium text-gray-400 hover:text-white">Produkter</a>
                <a href="#" class="mt-3 block font-medium text-gray-400 hover:text-white">Om oss</a>
                <a href="#" class="mt-3 block font-medium text-gray-400 hover:text-white">Kontakt oss</a>
            </div>
            <div class="px-4 border-t border-gray-900">
                <span class="mt-5 md:mt-0 block text-gray-500 font-medium">Daniel</span>
                <div class="md:hidden">
                    <div class="py-3 mb-2">
                        <a href="#" class="block text-gray-400 hover:text-white">Din konto</a>
                        <a href="#" class="mt-3 block text-gray-400 hover:text-white">Dine forespørsler</a>
                        <a href="#" class="mt-3 block text-gray-400 hover:text-white">Kontoinstillinger</a>
                        <div class="mt-8">
                            <a href="#" class="block text-gray-400 hover:text-white">Gå til backend</a>
                            <a href="#" class="mt-3 block text-gray-400 hover:text-white">Vis i backend</a>
                            <a href="#" class="mt-3 block text-gray-400 hover:text-white">Rediger side</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-t border-gray-900">
                <div class="px-4 py-3">
                    <a href="#" class="mt-2 mb-2 block font-medium text-gray-400 hover:text-white">Logg ut</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <h2>Content</h2>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        const menuBtn = $('button.navbar-toggle');
        const menuContainer = $('div#navbar-collapse-main');
        const menuIcn = $('svg.menu-icon');
        const menuOpenIcn = $('path.menu-open');
        const menuClosedIcn = $('path.menu-closed');

        let replaceSvg = (svg1, svg2) => {
            if (svg1.hasClass('hidden')) {
                svg1.removeClass('hidden');
                svg1.addClass('block');
                svg2.removeClass('block');
                svg2.addClass('hidden');
                svg1.html(svg1.html());
            } else {
                svg2.removeClass('hidden');
                svg2.addClass('block');
                svg1.removeClass('block');
                svg1.addClass('hidden');
                svg2.html(svg2.html());
            }
        }

        let menuFunc = () => {
            if (menuContainer.hasClass('hidden')) {
                menuContainer.removeClass('hidden');
                menuContainer.addClass('block');
                replaceSvg(menuOpenIcn, menuClosedIcn);
            } else {
                menuContainer.removeClass('block');
                menuContainer.addClass('hidden');
                replaceSvg(menuClosedIcn, menuOpenIcn);
            }
        }

        menuBtn.click(menuFunc);
    </script>
</html>