{# extend the backend detail template #}
{% extends 'users/backend/user/user_base.html' %}
{% load i18n %}

{# meta data #}
{% block title %}
<title>Backend: Opprett notat på bruker</title>
{% endblock title %}

{% block breadcrumb %}
    {% url 'user' user.id as user_url %}
    {% include 'components/breadcrumbs/breadcrumb.html' with link=user_url previous=user.get_full_name current='Nytt notat' %}
{% endblock breadcrumb %}

{# content data #}
{% block content_main-title %}
    <div class="pb-4 flex">
        {% blocktrans with user=user.get_full_name asvar the_title %}
            Legg til notat på "{{ user }}"
        {% endblocktrans %}
        {% include 'components/typography/main_heading.html' with name=the_title %}
    </div>
{% endblock content_main-title %}

{% block content_filter %}
    {# none #}
{% endblock content_filter %}

{% block detail_content %}
    {% if messages %}
        <div class="mb-8">
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    {% include 'components/alerts/error.html' with message=message %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <div class="bg-white rounded-lg shadow max-w-6xl">
        <form method="POST" id="add-note-form">
            {% csrf_token %}
            <div class="py-5 px-5">
                <div>
                    {% include 'components/typography/form_label.html' with label='Tittel' %}
                    {{ add_note_form.title }}
                    {{ add_note_form.title.errors }}
                </div>
                <div class="mt-6">
                    {% include 'components/typography/form_label.html' with label='Notat' %}
                    {{ add_note_form.content }}
                    {{ add_note_form.content.errors }}
                </div>
                <div class="mt-6">
                    <div class="flex items center">
                        {{ add_note_form.is_sticky }}
                        <div class="ml-2">
                            {% include 'components/typography/form_label_checkbox.html' with label='Viktig notat' %}
                            <p class="text-sm text-gray-700">Viktig notat vil feste notatet øverst, og brukes dersom notatet er viktig. Det burde maksimalt være to viktige notater per bruker.</p>
                        </div>
                    </div>
                    {{ add_note_form.is_sticky.errors }}
                </div>
            </div>
        </form>
    </div>
{% endblock detail_content %}
{% block footer %}
<div class="bg-white sticky bottom-0 border-t border-gray-300 shadow">
    <div class="py-5 px-5 flex items-center justify-end">
        <div class="mr-2">
            {% include 'components/buttons/tertiary_button_no-icon.html' with type="button" action="Avbryt" %}
        </div>
        <div>
            {% include 'components/buttons/primary_button_no-icon.html' with type="submit" form='add-note-form' action="Lagre" %}
        </div>    
    </div>
</div>
{% endblock footer %}