{# extend the backend detail template #}
{% extends 'users/backend/user/user_base.html' %}

{# meta data #}
{% block title %}
<title>Backend: Notater - {{ user.get_full_name }}</title>
{% endblock title %}

{% block breadcrumb %}
    {% url 'user' user.id as user_url %}
    {% include 'components/breadcrumbs/breadcrumb.html' with link=user_url previous=user.get_full_name current='Notater' %}
{% endblock breadcrumb %}

{# content data #}
{% block filter_notes %}
    {% include 'components/nav/active_tab.html' with link=user_notes_url name='Notater' %}
{% endblock filter_notes %}

{% block detail_content %}
<div class="w-full">
    <h2 class="mb-2 text-sm font-semibold text-gray-800">Viktige notater</h2>
    <div>
        {% if sticky_notes %}
            {% for sticky_note in sticky_notes %}
                <div class="flex items-center">
                    <div class="z-10 flex items-center w-10 h-10 -mr-4 bg-red-400 rounded-full">   
                        <svg class="w-5 h-5 m-auto text-white fill-current" viewBox="0 0 24 24">
                            <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20zm0 2a8 8 0 1 0 0 16 8 8 0 0 0 0-16zm0 9a1 1 0 0 1-1-1V8a1 1 0 0 1 2 0v4a1 1 0 0 1-1 1zm0 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                        </svg>
                    </div>
                    <div class="flex items-center justify-between w-full py-5 pl-10 pr-5 bg-white {% if forloop.first %} rounded-t-lg shadow {% endif %} {% if forloop.last %} rounded-b-lg shadow {% endif %}">
                        <div>
                            <h3 class="text-base font-medium text-gray-900">{{ sticky_note.title }}</h3>
                            <p class="mt-2 text-sm text-gray-900">{{ sticky_note.content }}</p> 
                        </div>
                        <div class="flex items-center">
                            <div class="text-right">
                                <span class="flex text-sm font-medium text-gray-600">{{ sticky_note.date_edited }}</span>
                                <span class="text-sm text-gray-600">Av {{ sticky_note.author }}</span> 
                            </div>
                            <div class="note-menu relative inline-block">
                                <button class="note-menu-btn ml-5">
                                    <svg class="w-5 h-5 text-gray-600 fill-current" viewBox="0 0 24 24">
                                        <path d="M12 6C10.8954 6 10 5.10457 10 4C10 2.89543 10.8954 2 12 2C13.1046 2 14 2.89543 14 4C14 5.10457 13.1046 6 12 6ZM12 14C10.8954 14 10 13.1046 10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12C14 13.1046 13.1046 14 12 14ZM10 20C10 21.1046 10.8954 22 12 22C13.1046 22 14 21.1046 14 20C14 18.8954 13.1046 18 12 18C10.8954 18 10 18.8954 10 20Z">
                                    </svg>
                                </button>
                                <div class="toggle-note-menu absolute right-0 hidden text-left origin-top-right z-10">
                                    <div class="w-32 bg-white rounded shadow">
                                        {% url 'edit-note' sticky_note.id as edit_sticky_note_url %}
                                        {% include 'components/buttons/dropdown_anchor.html' with link=edit_sticky_note_url action='Rediger' %}
                                        {% url 'delete-note' sticky_note.id as delete_sticky_note_url %}
                                        {% include 'components/buttons/dropdown_anchor.html' with link=delete_sticky_note_url action='Slett' %}
                                    </div>
                                </div>
                            </div>           
                        </div>     
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-sm text-gray-900">Det er ingen viktige notater på brukeren.</p>
        {% endif %}
    </div>
    <h2 class="mt-6 mb-2 text-sm font-semibold text-gray-800">Notater</h2>
    <div>
        {% if notes %}
            {% for note in notes %}
                <div class="flex items-center">
                    <div class="z-10 flex items-center w-10 h-10 -mr-4 bg-orange-400 rounded-full">   
                        <svg class="w-5 h-5 m-auto text-white fill-current" viewBox="0 0 24 24">
                            <path d="M2 15V5c0-1.1.9-2 2-2h16a2 2 0 0 1 2 2v15a1 1 0 0 1-1.7.7L16.58 17H4a2 2 0 0 1-2-2zM20 5H4v10h13a1 1 0 0 1 .7.3l2.3 2.29V5z"/>
                        </svg>
                    </div>
                    <div class="flex items-center justify-between w-full py-5 pl-10 pr-5 bg-white {% if forloop.first %} rounded-t-lg shadow {% endif %} {% if forloop.last %} rounded-b-lg shadow {% endif %}">
                        <div>
                            <h3 class="text-base font-medium text-gray-900">{{ note.title }}</h3>
                            <p class="mt-2 text-sm text-gray-900">{{ note.content }}</p> 
                        </div>
                        <div class="flex items-center">
                            <div class="text-right">
                                <span class="flex text-sm font-medium text-gray-600">{{ note.date_edited }}</span>
                                <span class="text-sm text-gray-600">Av {{ note.author }}</span> 
                            </div>
                            <div class="note-menu relative inline-block">
                                <button class="note-menu-btn ml-5">
                                    <svg class="w-5 h-5 text-gray-600 fill-current" viewBox="0 0 24 24">
                                        <path d="M12 6C10.8954 6 10 5.10457 10 4C10 2.89543 10.8954 2 12 2C13.1046 2 14 2.89543 14 4C14 5.10457 13.1046 6 12 6ZM12 14C10.8954 14 10 13.1046 10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12C14 13.1046 13.1046 14 12 14ZM10 20C10 21.1046 10.8954 22 12 22C13.1046 22 14 21.1046 14 20C14 18.8954 13.1046 18 12 18C10.8954 18 10 18.8954 10 20Z">
                                    </svg>
                                </button>
                                <div class="toggle-note-menu absolute right-0 hidden text-left origin-top-right z-10">
                                    <div class="w-32 bg-white rounded shadow">
                                        <div class="py-1">
                                            {% url 'edit-note' note.id as edit_note_url %}
                                            {% include 'components/buttons/dropdown_anchor.html' with link=edit_note_url action='Rediger' %}
                                        </div>
                                        <div class="py-1">
                                            {% url 'delete-note' note.id as delete_note_url %}
                                            {% include 'components/buttons/dropdown_anchor.html' with link=delete_note_url action='Slett' %}
                                        </div>
                                    </div>
                                </div>
                            </div>           
                        </div>     
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-sm text-gray-900">Det er ingen notater på brukeren.</p>
        {% endif %}
    </div>
</div>
{% endblock detail_content %}