{# extend the backend detail template #}
{% extends 'users/b_user_base.html' %}
{% load i18n %}

{# meta data #}
{% block title %}
<title>Backend: Endre Notat - {{ note.title }}</title>
{% endblock title %}

{# content data #}
{% block content_main-title %}
    <div class="pb-4 flex">
        {% blocktrans with user=user.get_full_name asvar the_title %}
            Slett notat på "{{ user }}"
        {% endblocktrans %}
        {% include 'components/typography/main_heading.html' with name=the_title %}
    </div>
{% endblock content_main-title %}

{% block content_filter %}
    {# none #}
{% endblock content_filter %}

{% block detail_content %}
    <div class="bg-yellow-100 rounded py-5 px-5 mb-4 max-w-6xl">
        <div class="flex">
            <svg class="w-6 h-6 text-yellow-800 fill-current" viewBox="0 0 24 24">
                <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20zm0 2a8 8 0 1 0 0 16 8 8 0 0 0 0-16zm0 9a1 1 0 0 1-1-1V8a1 1 0 0 1 2 0v4a1 1 0 0 1-1 1zm0 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </svg>
            <div class="ml-2">
                <p class="text-base text-yellow-900 font-semibold">Slettede notater kan ikke gjenopprettes!</p>
                <p class="text-sm text-yellow-800">All data vil bli slettet, og kan ikke gjenopprettes ved en senere anledning.</p>
            </div>
        </div>
    </div>
    <div class="bg-white rounded-lg shadow max-w-6xl">
        <form method="POST">
            {% csrf_token %}
            <div class="py-5 px-5">
                <div>
                    <p class="block text-gray-900 text-sm font-semibold">Slette notat "{{ note.title }}"</p>
                    <p class="text-sm text-gray-700">Er du sikker på at du ønsker å slette notatet? All data vil bli slettet, og kan ikke gjenopprettes.</p>
                </div>
            </div>
            <div class="border-t border-gray-300 py-5 px-5 flex items-center justify-end">
                <div class="mr-2">
                    {% include 'components/buttons/tertiary_button_no-icon.html' with type="button" action="Avbryt" %}
                </div>
                <div>
                    {% include 'components/buttons/primary_button_no-icon.html' with type="submit" action="Slett notat" %}
                </div>    
            </div>
        </form>
    </div>
{% endblock detail_content %}